.group-component {
    border: 1px solid rgba(0,0,0,.1);
    padding: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.user-component {
    border: 1px solid rgba(0,0,0,.1);
    padding: 0.8rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}