.invoice-list {
    max-height: 300px;
    height: 300px;
    overflow: auto;
}

.invoice-list-item {
    padding-top: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.invoice-list-item:nth-last-child(1) {
    border-bottom: 0;
}