.navbar * {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: #1c86f2;
}

#top ul {
    display: flex;
    align-items: center;
    margin: 0;
}

#top #top-nav-extra li {
    margin-left: 28px;
}

#top #top-nav-extra {
    margin-left: auto;
}

#top #top-nav-main {
    padding-left: 36px;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

#top #top-brand {
    margin-right: 36px;
}

.navbar {
    background: #313439;
}

#top {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    padding: 0 36px;
    height: 56px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
    #top {
        display: block;
        height: auto;
        padding-bottom: 24px;
    }
    #top #top-brand {
        display: none;
    }
    #top #top-nav-main {
        padding: 0;
        border: none;
    }
    #top #top-nav-extra {
        margin: 0;
    }

    #top ul {
        display: block;
    }
    #top #top-nav-main li, #top #top-nav-extra li {
        text-align: center;
        width: auto;
        margin: 16px 0;
        padding: 0;
    }
}

#nav-toggle-box {
    display: flex;
    align-items: center;
    padding: 8px 16px;
}

#nav-toggle-brand {
    position: relative;
    top: -1px;
}

#nav-toggle {
    margin-left: auto;
    color: #000;
    text-decoration: none;
    padding: 2px 8px;
}